* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: "Nunito", sans-serif;
  color: #d9d9d9;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 1.3;
  color: #d9d9d9;
}

#wrapper {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  height: 53px;
  border-bottom: 1px solid #555;
}

header h2 {
  font-size: 20px;
  color: white;
}

#postForm {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #555;
  border-radius: inherit;
}

.divInput {
  display: flex;
  align-items: start;
  gap: 12px;
}

.tweet-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
}

.meta img {
  margin-right: 8px;
}

#post {
  width: 90%;
  height: 40px;
  background-color: black;
  border: none;
  outline: none;
  color: #d9d9d9;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
}

#post::placeholder {
  color: #6e767d;
  font-size: 20px;
}

#button {
  width: 80px;
  height: 35px;
  padding: 9px 16px;
  border-radius: 36px;
  opacity: 0.5;
  background: #1d9bf0;
  color: white;
  cursor: pointer;
  border: none;
}

#button:hover {
  color: purple; /* необычный цвет текста */
  background-color: yellow; /* яркий фон */
  border-radius: 50%; /* круглая форма */
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3); /* тень для эффекта подъема */
  transition: all 0.3s ease; /* плавный переход */
}

.userAvatar {
  width: 100px;
  height: 100px;
}

.root {
  display: flex;
  justify-content: space-between;
}

.user-avatar {
  width: 80px;
  height: 80px;
}

.user-name {
  padding-top: 10px;
  font-size: 15px;
  color: greenyellow;
}

.post-text {
  padding: 10px 0 0 10px;
  font-size: 20px;
}

.like-span {
  display: flex;
  flex-direction: column-reverse;
}

.like-button {
  background-color: initial;
  border: none;
  color: red;
}


.like-button:active{
background-color: red;
transform: scale(1.05);
}

